<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @mark.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @mark.body %>
</p>

<%= link_to 'Edit', edit_mark_path(@mark) %> |
<%= link_to 'Back', marks_path %>
