<p id="notice"><%= notice %></p>

<h1>Office Tables</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @office_tables.each do |office_table| %>
      <tr>
        <td><%= office_table.title %></td>
        <td><%= office_table.body %></td>
        <td><%= link_to 'Show', office_table %></td>
        <td><%= link_to 'Edit', edit_office_table_path(office_table) %></td>
        <td><%= link_to 'Destroy', office_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Office Table', new_office_table_path %>
