<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @office_table.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @office_table.body %>
</p>

<%= link_to 'Edit', edit_office_table_path(@office_table) %> |
<%= link_to 'Back', office_tables_path %>
