body, html {
    height: 100%;
    margin: 0;
    background: -moz-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(97,97,97,1)), color-stop(79%, rgba(48,48,48,1)), color-stop(100%, rgba(36,36,36,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#242424',GradientType=1 ); /* ie6-9 */

}

#loginFormWrapper {
    width: 300px;
    color: #ffffff;
    margin: auto;
}

#loginForm {
    width: 300px;
    color: #ffffff;
    margin: auto;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.block {
   
    div {
        display: block;
        border: none;
    }
}

#block1 {
    top: 70;
}
