body {
    width: 100%;
    height: 90vh;
    font: 14px 'Verdana';
    margin: 0;
    padding: 0;
}

.decorBackground {
    width: 100%;
    height: 30vh;
    bottom: 0;
    left: 0;
    z-index: -1;
    position: fixed;
    background: -moz-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(97,97,97,1)), color-stop(79%, rgba(48,48,48,1)), color-stop(100%, rgba(36,36,36,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(97,97,97,1) 0%, rgba(48,48,48,1) 79%, rgba(36,36,36,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#616161', endColorstr='#242424',GradientType=1 ); /* ie6-9 */
}

::-webkit-scrollbar{
    width:7px;
    height:5px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: rgb(105, 50, 86);
    background-color: rgb(105, 50, 86);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: rgb(105, 50, 86);
    background-color: rgb(65, 31, 53);
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

#mapPanel {
    width:1210px;
    height:80vh;
    background-color: rgb(241, 241, 241);
    border: 2px grey solid;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin: auto;
    margin-top: 45px;
    z-index: 100;
}

.toolbar {
    overflow: hidden;
    border-top-left-radius: 50px;
    background-color: rgba(39, 39, 39, 0.97);
    height: 200px;
    width: 200px;
    right: 0;
    bottom: 0;
    position: fixed;
    text-align: center;
}

.toolbar > span {
    color: #ffffff;
    margin-top: 20px;
}

.topToolbarContainer {
    z-index: 1;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: 5px;
    width: 100%;
    height: 35px;
    background-color: rgb(58, 58, 58);
}

.topToolbar {
    width: 100vh;
    height: 45px;
    margin-top: -7px;
    border-top-right-radius: 30px;
    background: -webkit-linear-gradient(left, rgb(105, 50, 86), rgb(58, 58, 58)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgb(105, 50, 86), rgb(58, 58, 58)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgb(105, 50, 86), rgb(58, 58, 58)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgb(105, 50, 86), rgb(58, 58, 58)); /* Standard syntax */
}

.activeBox {
    margin: auto;
    position: absolute;
    top: 20px;
    left: 20px;
    color: #b9def0;
}

.activeBox > div:first-child > span {
    font-weight: 600;
    font-size: 15px;
    color: #f4e6f0;
}

.activeBox > div {
    padding: 10px;
    font-size: 12px;
    width:100px;
    height: 30px;
    display: table-row;
    text-align: left;
}

.activeBox > div > input, .activeBox > div > select {
    width: 70px;
    position: absolute;
    right: 0;
}

.activeBox > div > select {
    width: 40px;
}

.activeBox > div {
    text-align: center;
}

.activeBox > div > button {
    color: #e7edf0;
    width: 80px;
    border-radius: 10px;
    background-color: #555368;
    box-shadow: inset 2px 2px 2px grey;
    margin: auto;
}

.toolButton{
    left: 0;
}

.toolButton > * {
    font-weight: 700;
    font-size: 11px;
    list-style-type: none;
    text-align: center;
    vertical-align: middle;
    width: 70px;
    height: 30px;
    color: #272727;
    border-bottom-right-radius: 100px;
    border-top-right-radius: 100px;
    border-right: 2px solid #a64e8e;
    background: -webkit-linear-gradient(left, rgba(145, 145, 145, 0.9), rgb(82, 82, 82)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(145, 145, 145, 0.9), rgb(82, 82, 82)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(145, 145, 145, 0.9), rgb(82, 82, 82)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(145, 145, 145, 0.9), rgb(82, 82, 82)); /* Standard syntax */
}

.toolButton > *:hover {
    background-color: #312e3f;
    color: #ebcfff;
}

.toolButton > li > ul {
    width: 70px;
    margin-left: -100px;
    margin-top: -20px;
    list-style-type: inherit;
    position: absolute;
    background-color: #363636;
    color: #b9def0;
    opacity: 0;
}

.toolButton > li > ul > li > ul {
    width: 70px;
    margin-left: -100px;
    margin-top: -20px;
    list-style-type: inherit;
    position: absolute;
    background-color: #525252;
    color: #d4cef0;
    opacity: 0;
}

#console {
    background-color: #000000;
    color: #ffffff;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 65px;
    width:1000px;
    border: 2px solid grey;
}

.container {
    position: absolute;
}

.box {
    background-color: #363636;
    color: #ffffff;
    border: 2px solid grey;
    height: 30px;
    width: 50px;
    vertical-align: middle;
    text-align: left;
    font-size: 14px;
}

.line, .line > li {
    display: inline-block;;
}

.panelLabel {
    word-wrap: break-word;
    font-size: 10px;
    font-weight: 600;
    width: 54px;
    color: #122b40;
    background-color: #b9def0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#container {
    position: absolute;
}

ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
ul:after {
    display: block;
    content: ' ';
    clear: both;
    float: none;
}
ul.menu > li {
    float: left;
    position: relative;
}
ul.menu > li > a {
    display: block;
    background: -webkit-linear-gradient(left, rgba(145, 145, 145, 0), rgba(255, 218, 230, 0.3)); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(145, 145, 145, 0), rgba(255, 218, 230, 0.3)); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(145, 145, 145, 0), rgba(255, 218, 230, 0.3)); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, rgba(145, 145, 145, 0), rgba(255, 218, 230, 0.3)); /* Standard syntax */
    padding: 10px;
    color: white;
    text-decoration: none;
    border-bottom-right-radius: 100px;
}
ul.menu > li > a:hover {

    border-bottom-right: 1px white;
    color: white;
}
ul.submenu {
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
}
ul.submenu > li {
    display: block;
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline;
}

ul.menu > li:hover > ul.submenu {
    display: block;
}

#overlay, #overlay_new {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 10;
    cursor: pointer;
}

.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.block {
   
    div {
        display: block;
        border: none;
    }
}
