<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../css/main_page.css">
    <meta charset="UTF-8">
</head>
<body>
<div class="parent">
    <div class="container" id="loginForm">
    <h2>Вход в систему</h2>
<%= form_with scope: :login, url: login_path, local: true do |form| %>
  <div class="form-group">
    <%= form.label(:logname, "Логин:") %><br>
    <%= form.text_field(:logname, placeholder: "Введите пароль", class: "form-control", id:"login", name:"login") %>
<% if @islogin && @islogin == 0 %>
<div class = 'label label-danger'>Неверный логин</div>
<% end %>
<% if @islogin && @islogin == 1 %>
<div class = 'label label-danger'>Неверный формат (минимум 6 символов, допустимые значения: A-Z0-9)</div>
<% end %>
<% if @islogin && @islogin == 2 %>
<div class = 'label label-danger'>*Обязательное поле</div>
<% end %>
  </div> 
  <div class="form-group">
    <%= form.label(:pwd, "Пароль:") %><br>
    <%= form.password_field(:pwd, placeholder: "Введите пароль", class:"form-control", id:"pwd", name:"pwd") %>
<% if @ispwd && @ispwd == 0 %>
<div class = 'label label-danger'>Неверный пароль</div>
<% end %>
<% if @ispwd && @ispwd == 1 %>
<div class = 'label label-danger'>Неверный формат (минимум 6 символов, допустимые значения: A-Z0-9)</div>
<% end %>
<% if @ispwd && @ispwd == 2 %>
<div class = 'label label-danger'>*Обязательное поле</div>
<% end %>
  </div>
 
  <div class="checkbox">
    <%= form.submit("Подтвердить", class:"btn btn-success") %>
  </div>
<% end %>
</div>
</div>
</div>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="#">Авторизация</a></li>
    <li role="presentation"><a href="registration.erb">Регистрация</a></li>
    <li role="presentation"><a href="#">О продукте</a></li>
</ul>
</body>
</html>
