<html>
<head lang="en">
    <link rel="stylesheet" type="text/css" href="../css/main_page.css">
    <meta charset="UTF-8">
</head>
<body>
<div class="parent">
    <div class="container" id="loginForm">
    <h2>Регистрация</h2>
<%= form_with scope: :registration, url: registration_path, local: true do |form| %>
<div class="form-group">
    <%= form.label(:name, "Название компании:") %><br>
    <%= form.text_field(:name, placeholder: "Введите название", class: "form-control", id:"name", name:"name") %>
<% if @iscompany == 0 %>
<div class = 'label label-danger'>Компания с таким названием уже есть</div>
<% end %>
<% if @iscompany && @iscompany == 1 %>
<div class = 'label label-danger'>Неверный формат (минимум 6 символов, допустимые значения: A-Z0-9)</div>
<% end %>
<% if @iscompany && @iscompany == 2 %>
<div class = 'label label-danger'>*Обязательное поле</div>
<% end %>
  </div> 
<div class="form-group">
    <%= form.label(:login, "Логин главного администратора:") %><br>
    <%= form.text_field(:login, placeholder: "Введите пароль", class: "form-control", id:"login", name:"login") %>
<% if @islogin && @islogin == 0 %>
<div class = 'label label-danger'>Пользователь с таким логином уже есть</div>
<% end %>
<% if @islogin && @islogin == 1 %>
<div class = 'label label-danger'>Неверный формат (минимум 6 символов, допустимые значения: A-z0-9_)</div>
<% end %>
<% if @islogin && @islogin == 2 %>
<div class = 'label label-danger'>*Обязательное поле</div>
<% end %>
  </div> 
  <div class="form-group">

    <%= form.label(:pwd, "Пароль главного администратора:") %><br>
    <%= form.password_field(:pwd, placeholder: "Введите пароль", class:"form-control", id:"pwd", name:"pwd") %>
<% if @ispwd && @ispwd == 1 %>
<div class = 'label label-danger'>Неверный формат (минимум 6 символов, допустимые значения: A-Z0-9)</div>
<% end %>
<% if @ispwd && @ispwd == 2 %>
<div class = 'label label-danger'>*Обязательное поле</div>
<% end %>
  </div>
 
  <div class="checkbox">
    <%= form.submit("Подтвердить", class:"btn btn-success") %>
  </div>
<% end %>

</div>
</div>
</div>
<% if @success && @success == 1 %>
<div class = 'alert-success'>Регистрация прошла успешно</div>
<% end %>
<% if @success && @success == 0 %>
<div class = 'alert-danger'>Проблемы с реистрацией, проверьте корректность данных</div>
<% end %>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="index.erb">Авторизация</a></li>
    <li role="presentation" class="active"><a href="#">Регистрация</a></li>
    <li role="presentation"><a href="#">О продукте</a></li>
</ul>
</body>
</html>
