<p id="notice"><%= notice %></p>

<h1>Walls</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @walls.each do |wall| %>
      <tr>
        <td><%= wall.title %></td>
        <td><%= wall.body %></td>
        <td><%= link_to 'Show', wall %></td>
        <td><%= link_to 'Edit', edit_wall_path(wall) %></td>
        <td><%= link_to 'Destroy', wall, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wall', new_wall_path %>
