<p id="notice"><%= notice %></p>

<h1>Companiys</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companiys.each do |companiy| %>
      <tr>
        <td><%= companiy.title %></td>
        <td><%= companiy.body %></td>
        <td><%= link_to 'Show', companiy %></td>
        <td><%= link_to 'Edit', edit_companiy_path(companiy) %></td>
        <td><%= link_to 'Destroy', companiy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Companiy', new_companiy_path %>
