<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @companiy.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @companiy.body %>
</p>

<%= link_to 'Edit', edit_companiy_path(@companiy) %> |
<%= link_to 'Back', companiys_path %>
