<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @user_datum.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @user_datum.body %>
</p>

<%= link_to 'Edit', edit_user_datum_path(@user_datum) %> |
<%= link_to 'Back', user_data_path %>
