<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @team_user.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @team_user.body %>
</p>

<%= link_to 'Edit', edit_team_user_path(@team_user) %> |
<%= link_to 'Back', team_users_path %>
