<%= form_with(model: app, local: true) do |form| %>
  <% if app.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(app.errors.count, "error") %> prohibited this app from being saved:</h2>

      <ul>
      <% app.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :bin %>
    <%= form.text_field :bin %>
  </div>

  <div class="field">
    <%= form.label :config %>
    <%= form.text_field :config %>
  </div>

  <div class="field">
    <%= form.label :config.ru %>
    <%= form.text_field :config.ru %>
  </div>

  <div class="field">
    <%= form.label :db %>
    <%= form.text_field :db %>
  </div>

  <div class="field">
    <%= form.label :db_generation_sql_script.sql %>
    <%= form.text_field :db_generation_sql_script.sql %>
  </div>

  <div class="field">
    <%= form.label :Gemfile %>
    <%= form.text_field :Gemfile %>
  </div>

  <div class="field">
    <%= form.label :Gemfile.lock %>
    <%= form.text_field :Gemfile.lock %>
  </div>

  <div class="field">
    <%= form.label :lib %>
    <%= form.text_field :lib %>
  </div>

  <div class="field">
    <%= form.label :log %>
    <%= form.text_field :log %>
  </div>

  <div class="field">
    <%= form.label :package.json %>
    <%= form.text_field :package.json %>
  </div>

  <div class="field">
    <%= form.label :public %>
    <%= form.text_field :public %>
  </div>

  <div class="field">
    <%= form.label :Rakefile %>
    <%= form.text_field :Rakefile %>
  </div>

  <div class="field">
    <%= form.label :README.md %>
    <%= form.text_field :README.md %>
  </div>

  <div class="field">
    <%= form.label :storage %>
    <%= form.text_field :storage %>
  </div>

  <div class="field">
    <%= form.label :test %>
    <%= form.text_field :test %>
  </div>

  <div class="field">
    <%= form.label :tmp %>
    <%= form.text_field :tmp %>
  </div>

  <div class="field">
    <%= form.label :vendor %>
    <%= form.text_field :vendor %>
  </div>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
