<p id="notice"><%= notice %></p>

<h1>Apps</h1>

<table>
  <thead>
    <tr>
      <th>Bin</th>
      <th>Config</th>
      <th>Config.ru</th>
      <th>Db</th>
      <th>Db generation sql script.sql</th>
      <th>Gemfile</th>
      <th>Gemfile.lock</th>
      <th>Lib</th>
      <th>Log</th>
      <th>Package.json</th>
      <th>Public</th>
      <th>Rakefile</th>
      <th>Readme.md</th>
      <th>Storage</th>
      <th>Test</th>
      <th>Tmp</th>
      <th>Vendor</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @apps.each do |app| %>
      <tr>
        <td><%= app.bin %></td>
        <td><%= app.config %></td>
        <td><%= app.config.ru %></td>
        <td><%= app.db %></td>
        <td><%= app.db_generation_sql_script.sql %></td>
        <td><%= app.Gemfile %></td>
        <td><%= app.Gemfile.lock %></td>
        <td><%= app.lib %></td>
        <td><%= app.log %></td>
        <td><%= app.package.json %></td>
        <td><%= app.public %></td>
        <td><%= app.Rakefile %></td>
        <td><%= app.README.md %></td>
        <td><%= app.storage %></td>
        <td><%= app.test %></td>
        <td><%= app.tmp %></td>
        <td><%= app.vendor %></td>
        <td><%= app.title %></td>
        <td><%= app.body %></td>
        <td><%= link_to 'Show', app %></td>
        <td><%= link_to 'Edit', edit_app_path(app) %></td>
        <td><%= link_to 'Destroy', app, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New App', new_app_path %>
