<p id="notice"><%= notice %></p>

<p>
  <strong>Bin:</strong>
  <%= @app.bin %>
</p>

<p>
  <strong>Config:</strong>
  <%= @app.config %>
</p>

<p>
  <strong>Config.ru:</strong>
  <%= @app.config.ru %>
</p>

<p>
  <strong>Db:</strong>
  <%= @app.db %>
</p>

<p>
  <strong>Db generation sql script.sql:</strong>
  <%= @app.db_generation_sql_script.sql %>
</p>

<p>
  <strong>Gemfile:</strong>
  <%= @app.Gemfile %>
</p>

<p>
  <strong>Gemfile.lock:</strong>
  <%= @app.Gemfile.lock %>
</p>

<p>
  <strong>Lib:</strong>
  <%= @app.lib %>
</p>

<p>
  <strong>Log:</strong>
  <%= @app.log %>
</p>

<p>
  <strong>Package.json:</strong>
  <%= @app.package.json %>
</p>

<p>
  <strong>Public:</strong>
  <%= @app.public %>
</p>

<p>
  <strong>Rakefile:</strong>
  <%= @app.Rakefile %>
</p>

<p>
  <strong>Readme.md:</strong>
  <%= @app.README.md %>
</p>

<p>
  <strong>Storage:</strong>
  <%= @app.storage %>
</p>

<p>
  <strong>Test:</strong>
  <%= @app.test %>
</p>

<p>
  <strong>Tmp:</strong>
  <%= @app.tmp %>
</p>

<p>
  <strong>Vendor:</strong>
  <%= @app.vendor %>
</p>

<p>
  <strong>Title:</strong>
  <%= @app.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @app.body %>
</p>

<%= link_to 'Edit', edit_app_path(@app) %> |
<%= link_to 'Back', apps_path %>
