<html>
<%= javascript_include_tag('main.js') %>
<link rel="stylesheet" type="text/css" href="../css/map_stile.css">
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
<script>
window.onload = function() {
	document.getElementById('mapWrapper').addEventListener('click', function(evt) {
		useController('selectStartPoint', evt);
	}, false);
	document.getElementById('mapWrapper').addEventListener('mousemove', function(evt) {
		useController('getPointOnMove', evt);
	}, false);
	document.getElementById('startPointBoxLabel').addEventListener('click', function(evt) {
		useController('enableSelect', ['startPointBoxLabel', 'endPointsBoxLabel']);
	}, false);
	document.getElementById('endPointsBoxLabel').addEventListener('click', function(evt) {
		useController('enableSelect', ['endPointsBoxLabel', 'startPointBoxLabel']);
	}, false);
};
</script>
</head>
<body>
    <div id="overlay">
	<div class="parent">
<div class="container block">
  <h2>Офисы компании</h2>
  <p>Выбирите офис для редактирования</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>ID</th>
        <th>Название</th>
        <th>Создан пользователем</th>
        <th>Добавлен</th>
        <th>Обновлён</th>
      </tr>
    </thead>
    <tbody>
 <tr>

<%= form_with scope: :search_office, url: search_office_path, local: true do |form| %>
        <td><%= form.submit("Поиск", class:"btn") %></td>
        <td><%= form.text_field(:name, placeholder: "Введите название", class: "form-control") %></td>
<% end %>
<%= form_with scope: :all_offices, url: all_offices_path, local: true do |form| %>
        <td><%= form.submit("Очистить фильтр", class:"btn btn-warning") %></td>
<% end %>
      </tr>
<br/>
<br/>
<% @offices.each do |office| %>
<tr>
<%= form_with scope: :manage_office, url: manage_office_path, local: true do |form| %>	
        <td><%= office.id %></td>
        <td><%= form.text_field(:name, value: office.name, class: "form-control") %></td>	
	<td><%= office.created_by %></td> 
	<td><%= office.created_at %></td> 
	<td><%= office.updated_at %></td> 
<td><%= form.submit("Обновить", class:"btn-success") %></td>
<% end %>
	<td><button onclick = "useController('openMap', <%= office.id %>);" class="btn-info">Открыть</button></td>
      </tr>
<br />
<% end %>
    </tbody>
  </table>
</div>
</div>
<ul class="nav nav-tabs">
    <li role="presentation" class="active" onclick="off('overlay');">Назад</li>
</ul>
</div>
</div>

    </div>
    <div id="overlay_new">

<div class="parent">
<div class="container block">
  <h2>Добавить офис</h2>
  <p>Введите данные для новой записи</p>            
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Название</th>
	<th></th>
      </tr>
    </thead>
    <tbody>
<br/>

<%= form_with scope: :add_office, url: add_office_path, local: true do |form| %>	
      <tr>
        <td><%= form.text_field(:name, placeholder:"Введите название", class: "form-control") %></td>	
	<td><%= form.submit("Добавить", class:"btn-success") %></td>
      </tr>
<br />
<% end %>
    </tbody>
  </table>
<% if @success && @success == 1 %>
<div class = 'alert-success'>Операция прошла успешно</div>
<% end %>
<% if @success && @success == 0 %>
<div class = 'alert-danger'>Проблемы с обновлением данных, проверьте их корректность</div>
<% end %>
</div>
</div>
<ul class="nav nav-tabs">
    <li role="presentation" class="active" onclick="off('overlay_new');">Назад</li>
</ul>
</div>
</div>

    </div>
    <div class="decorBackground"></div>
    <div class="topToolbarContainer">
        <div class="topToolbar">
            <ul class="menu">
                <li><a href=#>Меню</a>
                    <ul class="submenu toolButton">
                        <li onclick="on('overlay');">Открыть</li>
                        <li onclick="on('overlay_new')">Создать</li>
			<%= form_with scope: :save_map, url: save_map_path, id: 'save_map' do |form| %>
				<li onclick="useController('saveMap')">Сохранить</li>
			<% end %>
                        <li onclick="useController('closeMap')">Закрыть карту</li>
			<%= form_with scope: :exit, url: exit_path, local: true, id: 'exit', method: "get" do |form| %>
				<li onclick="$( '#exit' ).submit();">Выход</li>
			<% end %>
                    </ul>
                </li>
<% unless (session[:current_office_id].nil? && session[:current_office_name].nil?) %>
<li><h6 id="current_office_id" style='color: white'>id: <%= session[:current_office_id] %></h6></li>
<li><h3 id="current_office_name" style='color: white'> <%= session[:current_office_name]%></h3><h6 style='color: white'></li>
<% end %>
            </ul>
        </div>
    </div>
    <div id="mapPanel" style="width:90%;">
        <div class="container">
            <div class="line">
                <div id="coordinatesBox" class = "box"></div>
                <div class="panelLabel">координаты</div>
            </div>
            <div class="line">
                <div id="startPointBox" class = "box"></div>
                <div id="startPointBoxLabel" class="panelLabel">старт. точка</div>
            </div>
            <div class="line">
                <div id="endPointBox" class = "box"></div>
                <div id="endPointsBoxLabel" class="panelLabel">конечн. точка</div>
            </div>
            <div class="line">
                <div id="reverseBox" style="height: 30px; width: 30px;" onclick="useDHTMLController('changeReverseImg'); useController('changeReverse');">
                    <abbr title="Режим смены точки старта и конечной">
                        <img id="reverseIMG" src="..\img\refresh.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="doubleClickModeBox" style="height: 30px; width: 30px;" onclick="useDHTMLController('changeDClickMode'); useController('changeDClickMode');">
                    <abbr title="Режим двойного щелчка">
                        <img id="doubleClickMode" src="..\img\double_click.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="addWallBox" style="height: 30px; width: 30px;">
                    <abbr title="Добавить стену">
                        <img id="addWallIMG" src="..\img\line.png" style="height: 100%; width: 100%;" onclick="useDHTMLController('addLineMenu')">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="deleteWallBox" style="height: 30px; width: 30px;" onclick="useController('deleteWall');">
                    <abbr title="Удалить стену">
                        <img id="deleteWallIMG" src="..\img\delete.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="markBox" style="height: 30px; width: 30px;" onclick="useDHTMLController('addMark');">
                    <abbr title="Добавить отметку">
                        <img id="mark" src="..\img\star.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="starDeleteBox" style="height: 30px; width: 30px;" onclick="useController('deleteMark');">
                    <abbr title="Удлить отметку">
                        <img id="starDelete" src="..\img\star_delete.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="starMoveBox" style="height: 30px; width: 30px;" onclick="useController('moveMark');">
                    <abbr title="Передвинуть отметку">
                        <img id="starMove" src="..\img\move_mark.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="addTableBox" style="height: 30px; width: 30px;" onclick="useDHTMLController('addTable');">
                    <abbr title="Добавить стол">
                        <img id="addTable" src="..\img\table.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="deleteTableBox" style="height: 30px; width: 30px;" onclick="useController('deleteTable');">
                    <abbr title="Удалить стол">
                        <img id="deleteTable" src="..\img\delete_table.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
                <div id="moveTableBox" style="height: 30px; width: 30px;" onclick="useController('moveTable');">
                    <abbr title="Подвинуть стол">
                        <img id="moveTable" src="..\img\move_table.png" style="height: 100%; width: 100%;">
                    </abbr>
                </div>
            </div>
            <div class="line">
              <div id="reverseTableBox" style="height: 30px; width: 30px;" onclick="useController('reverseTable');">
                <abbr title="Развернуть стол">
                  <img id="moveTable" src="..\img\move_table.png" style="height: 100%; width: 100%;">
                </abbr>
              </div>
            </div>
        </div>
        <div id = "mapWrapper" style="overflow: auto; width:100%; height:100%; display: inline-block;">
            <canvas id="map" width="3000" height="3000" onclick="useController('selectStartPoint', this)" ondblclick="useController('dClickMode', 1)">
                This text is displayed if your browser does not support HTML5 Canvas.
            </canvas>
        </div>
        <div id="console"></div>
        <div class="toolbar" style="position: fixed">
            <div class="activeBox" id="addBox">
                <span>Добро пожаловать в редактор!</span>
            </div>
        </div>
    </div>
<% if @add == true %>
<script>
on('overlay_new');
</script>
<% end %>
<% if @open == true %>
<script>
on('overlay');
</script>
<% end %>
<% unless @new.nil? %>
<% @new = nil %>
<script>
useController('newMap');
</script>
<% end %>
<% unless session[:current_office_id].nil? %>
<script>
useController('openMap', <%= session[:current_office_id] %>);
</script>
<% end %>
</body>
</html>
