<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
<h2>Зарегистрированные сотрудники компании</h2>
  <p>Режим специалиста по кадрам</p>   
<div class="parent"> 
<div class="container block">        
  <table class="table table-bordered">
    <thead>
      <tr class="success">
	<th>ID</th>
        <th>Логин</th>
        <th>Активен</th>
	<th>Имя</th>
        <th>Фамилия</th>
        <th>Должность</th>
	<th>Добавлен</th>
      </tr>
    </thead>
    <tbody>
 <tr class="info">
<%= form_with scope: :search_personal, url: search_personal_path, local: true do |form| %>
	<td><%= form.text_field(:id, placeholder: "ID", class: "form-control") %></td>
        <td><%= form.text_field(:login, placeholder: "Логин", class: "form-control") %></td>
	<td><%= form.text_field(:isactive, placeholder: "", class: "form-control") %></td>
	<td><%= form.text_field(:name, placeholder: "Имя", class: "form-control") %></td>
        <td><%= form.text_field(:surname, placeholder: "Фамилия", class: "form-control") %></td>
        <td><%= form.text_field(:position, placeholder: "Должность", class: "form-control") %></td>
	<td><%= form.submit("Поиск", class:"btn") %></td>
<% end %>
<%= form_with scope: :all_company, url: all_company_path, local: true do |form| %>
        <td><%= form.submit("Очистить фильтр", class:"btn btn-warning") %></td>
<% end %>
      </tr>
<br/>
<br/>
<% @users.each do |user| %>
<%= form_with scope: :manage_personal, url: manage_personal_path, local: true do |form| %>
 <tr>
        <td><%= user.id %></td>
        <td><%= user.login %></td> 
	<td><%= user.isactive %></td>  
	<td><%= form.text_field(:name, value: @user_data[user.id]['name'], class: "form-control") %></td> 
	<td><%= form.text_field(:surname, value: @user_data[user.id]['surname'], class: "form-control") %></td>
	<td><%= form.text_field(:position, value: @user_data["#{user.id}_p"], class: "form-control") %></td>  
	<td><%= user.created_at %></td> 
	<td>
		<%= hidden_field(:user, user.id) %>
 		<%= form.submit("Обновить", class:"btn btn-info") %>
	</td> 
	<td class="info"><%= select_tag(:work_status, options_for_select(@workstatuses[user.id]), class: "form-control", style:"width:150px;") %></td>  
      </tr>
<% end %>
<br />
<% end %>
<br/>
<%= form_with scope: :add_personal, url: add_personal_path, local: true do |form| %>
 <tr>
        <td></td>
        <td><%= form.text_field(:login, class: "form-control") %></td> 
	<td><%= form.text_field(:pwd, placeholder: "Пароль", class: "form-control") %></td>  
	<td><%= form.text_field(:name, class: "form-control") %></td> 
	<td><%= form.text_field(:surname, class: "form-control") %></td>
	<td><%= form.text_field(:position, class: "form-control") %></td> 
<td></td> 
<td>
 <%= form.submit("Добавить", class:"btn btn-success") %>
<% end %>
</td> 
      </tr>
<br />
    </tbody>
  </table>
</div>
</div>
</div>
</div>
<% if @success && @success == 1 %>
<div class = 'alert-success'>Операция прошла успешно</div>
<% end %>
<% if @success && @success == 0 %>
<div class = 'alert-danger'>Проблемы с обновлением данных, проверьте их корректность</div>
<% end %>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="exit">Выход</a></li>
    <li role="presentation" class="active"><a href="">Сотрудники</a></li>
    <li role="presentation" class="active"><a href="offices">Офисы</a></li>
    <li role="presentation" class="active"><a href="hr_statistic">Статистика</a></li>
    <li role="presentation"><a href="#">Информация</a></li>
</ul>
</body>
</html>

<style>
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.block {
   
    div {
        display: block;
        border: none;
    }
}
</style>
