<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
<h2>Статистика посещения</h2>
  <p>Режим специалиста по кадрам</p>   
<div class="parent"> 
<div class="container block">        
 <div style="width:75%;">
    <canvas id="canvas"></canvas>
</div>
<button class='btn btn-success' onclick='
var h = {}
h["на работе"] = <%= @workstatuses["w"].html_safe %>;
h["больничный"] = <%= @workstatuses["i"].html_safe %>;
h["отпуск"] = <%= @workstatuses["o"].html_safe %>;
h["отгул"] = <%= @workstatuses["u"].html_safe %>;
h["прочее"] = <%= @workstatuses["o"].html_safe %>;
h["сумма"] = <%= @workstatuses["a"].html_safe %>;

for (var k in h) {
let csvContent = "data:text/csv;charset=utf-8,";
csvContent += "статус\tдата\tколичество (чел.)\r\n";
    if (h.hasOwnProperty(k)) {
        var data_tmp = h[k]
	var ammount = 0;
	jQuery.each(data_tmp, function(i, val) {
	csvContent += k;
var costil = false;
	  jQuery.each(val, function(i1, val1) {
	    csvContent += "\t" + val1;
if ((costil == true) && (parseInt(val1) != NaN)) {
 ammount += parseInt(val1);
};
costil = true;
	  });
	csvContent += "\r\n";
	});
	csvContent += ammount + "\tвсего\r\n";
	var encodedUri = encodeURI(csvContent);
	window.open(encodedUri);
	var encodedUri = encodeURI(csvContent);
	var link = document.createElement("a");
	link.setAttribute("href", encodedUri);
	link.setAttribute("download", k + "_report_"+ new Date() +".tsv");
	document.body.appendChild(link); // Required for FF
	link.click();
    }
}
      
'>Скачать статистику (.tsv)</button>
</div>
</div>
</div>
</div>
<% if @success && @success == 1 %>
<div class = 'alert-success'>Операция прошла успешно</div>
<% end %>
<% if @success && @success == 0 %>
<div class = 'alert-danger'>Проблемы с обновлением данных, проверьте их корректность</div>
<% end %>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="exit">Выход</a></li>
    <li role="presentation" class="active"><a href="../">Сотрудники</a></li>
    <li role="presentation" class="active"><a href="offices">Офисы</a></li>
    <li role="presentation" class="active"><a href="hr_statistic">Статистика</a></li>
    <li role="presentation"><a href="#">Информация</a></li>
</ul>
<script>
    var timeFormat = 'YYYY-MM-DD';
    var config = {
        type:    'line',
        data:    {
            datasets: [
                {
                    label: "На работе",
                    data:  <%= @workstatuses['w'].html_safe %>,
                    fill: true,
		    backgroundColor: 'rgba(225, 0, 225, 0.5)',
                    borderColor: 'violet'
                },
		{
                    label: "Болен",
                    data:  <%= @workstatuses['i'].html_safe %>,
                    fill:  true,
		    backgroundColor: 'rgba(0, 0, 225, 0.5)',
                    borderColor: 'blue'
                },
                {
                    label: "Отпуск",
                    data:  <%= @workstatuses['v'].html_safe %>,
                    fill:  true,
		    backgroundColor: 'rgba(225, 225, 0, 0.5)',
                    borderColor: 'yellow'
                },
		{
                    label: "Отгул",
                    data:  <%= @workstatuses['u'].html_safe %>,
                    fill:  true,
		    backgroundColor: 'rgba(255, 0, 0, 0.5)',
                    borderColor: 'red'
                },
		{
                    label: "Прочее",
                    data:  <%= @workstatuses['o'].html_safe %>,
                    fill:  true,
                    borderColor: 'grey'
                },
		{
                    label: "Все сотрудники",
                    data:  <%= @workstatuses['a'].html_safe %>,
                    fill:  true,
		    backgroundColor: 'rgba(0, 225, 0, 0.5)',
                    borderColor: 'green'
                }
            ]
        },
        options: {
            responsive: true,
            title:      {
                display: true,
                text:    ""
            },
            scales:     {
                xAxes: [{
                    type:       "time",
                    time:       {
                        format: timeFormat,
                        tooltipFormat: 'll'
                    },
                    scaleLabel: {
                        display:     true,
                        labelString: 'Date'
                    }
                }],
                yAxes: [{
                    scaleLabel: {
                        display:     true,
                        labelString: 'value'
                    }
                }]
            }
        }
    };

    var ctx       = document.getElementById("canvas").getContext("2d");
    window.myLine = new Chart(ctx, config);

</script>
</body>
</html>

<style>
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.block {
   
    div {
        display: block;
        border: none;
    }
}
</style>
