<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
<h2>Зарегистрированные сотрудники компании</h2>
  <p>Режим администратора компании</p>       
<div class="parent">
<div class="container block">     
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>ID</th>
        <th>Логин</th>
        <th>Пароль</th>
        <th>Активен</th>
        <th>Роль</th>
        <th>Добавлен</th>
        <th>Обновлён</th>
      </tr>
    </thead>
    <tbody>
 <tr>
<%= form_with scope: :search_user, url: search_user_path, local: true do |form| %>
        <td><%= form.submit("Поиск", class:"btn") %></td>
        <td><%= form.text_field(:login, placeholder: "Введите логин", class: "form-control") %></td>
<% end %>
<%= form_with scope: :all_company, url: all_company_path, local: true do |form| %>
        <td><%= form.submit("Очистить фильтр", class:"btn btn-warning") %></td>
<% end %>
      </tr>
<br/>
<br/>
<% @users.each do |user| %>
<%= form_with scope: :manage_user, url: manage_user_path, local: true do |form| %>
 <tr>
        <td><%= user.id %></td>
        <td><%= form.text_field(:login, value: user.login, class: "form-control") %></td>	
	<td><%= form.text_field(:pwd, value: user.password, class: "form-control") %></td> 
<td><%= form.text_field(:isactive, value: user.isactive, class: "form-control") %></td> 
<td>
<%= form.text_field(:role, value: user.role, class: "form-control") %></td> 
<td><%= user.created_at %></td> 
<td><%= user.updated_at %></td> 
<td>
<%= hidden_field(:user, user.id) %>
 <%= form.submit("Обновить", class:"btn btn-info") %>
<% end %>
</td> 
      </tr>
<br />
<% end %>
<br/>
<%= form_with scope: :add_user, url: add_user_path, local: true do |form| %>
 <tr>
        <td></td>
        <td><%= form.text_field(:login, placeholder: "Введите логин", class: "form-control") %></td>	
	<td><%= form.text_field(:pwd, placeholder: "Введите пароль", class: "form-control") %></td> 
<td></td> 
<td><%= form.text_field(:role, placeholder: "Введите роль", class: "form-control") %></td> 
<td></td> 
<td></td> 
<td>
 <%= form.submit("Добавить", class:"btn btn-success") %>
<% end %>
</td> 
      </tr>
<br />
    </tbody>
  </table>
</div>
</div>
</div>
</div>
<% if @success && @success == 1 %>
<div class = 'alert-success'>Операция прошла успешно</div>
<% end %>
<% if @success && @success == 0 %>
<div class = 'alert-danger'>Проблемы с обновлением данных, проверьте их корректность</div>
<% end %>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="exit">Выход</a></li>
    <li role="presentation" class="active"><a href="">Сотрудники</a></li>
    <li role="presentation" class="active"><a href="offices">Офисы</a></li>
    <li role="presentation"><a href="#">Информация</a></li>
</ul>
</body>
</html>

<style>
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.block {
   
    div {
        display: block;
        border: none;
    }
}
</style>
