<html>
<head lang="en">
    <meta charset="UTF-8">
<script src="http://www.openlayers.org/api/OpenLayers.js"></script>
 <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
</head>
<body>
<h2>Размещение офисов</h2>
  <p>Режим специалиста по кадрам</p>   
<div class="parent"> 
<div class="container block"> 
	 <a class="skiplink" href="#map">Go to map</a>
    <div id="map" class="map" tabindex="0"></div>
</div>
</div>
<% if @success && @success == 1 %>
<div class = 'alert-success'>Операция прошла успешно</div>
<% end %>
<% if @success && @success == 0 %>
<div class = 'alert-danger'>Проблемы с обновлением данных, проверьте их корректность</div>
<% end %>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="exit">Выход</a></li>
    <li role="presentation" class="active"><a href="../">Сотрудники</a></li>
    <li role="presentation" class="active"><a href="offices">Офисы</a></li>
    <li role="presentation" class="active"><a href="hr_statistic">Статистика</a></li>
    <li role="presentation"><a href="#">Информация</a></li>
</ul>
    <script>

     map = new OpenLayers.Map("map");
     map.addLayer(new OpenLayers.Layer.OSM());
 var markers = new OpenLayers.Layer.Markers( "Markers" );
var defLonLat  = new OpenLayers.LonLat(0,0)
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
var flag = true;
<% @offices.each do |office| %>
var lonLat = new OpenLayers.LonLat(<%= office.lon %>,<%= office.lat %>)
          .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
          );
markers.addMarker(new OpenLayers.Marker(lonLat));
if (flag == true) {
  defLonLat = lonLat
  flag = false;
}
<% end %>
          
    var zoom=10;
    map.addLayer(markers);
    
    
    map.setCenter (lonLat, zoom);
    </script>
</body>
</html>

<style>

#map {height: 350px;}
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.block {
   
    div {
        display: block;
        border: none;
    }
}
</style>
