<html>
<head lang="en">
    <meta charset="UTF-8">
</head>
<body>
<h2>Зарегистрированные компании</h2>
  <p>Режим главного администратора</p> 
<div class="parent">
<div class="container block">           
  <table class="table table-bordered">
    <thead>
      <tr>
	<th>ID</th>
        <th>Название</th>
        <th>Главный администратор</th>
        <th>Пароль</th>
	<th>Добавлена</th>
        <th>Обновлёна</th>
      </tr>
    </thead>
    <tbody>
 <tr>
<%= form_with scope: :search_company, url: search_company_path, local: true do |form| %>
        <td><%= form.submit("Поиск", class:"btn") %></td>
        <td><%= form.text_field(:name, placeholder: "Введите название", class: "form-control") %></td> 
<% end %>
<%= form_with scope: :all_company, url: all_company_path, local: true do |form| %>
        <td><%= form.submit("Очистить фильтр", class:"btn btn-warning") %></td>
<% end %>
      </tr>
<br/>
<br/>
<% @companies.each do |company| %>
<%= form_with scope: :manage, url: manage_path, local: true do |form| %>
 <tr>
        <td><%= company.id %></td>
        <td><%= form.text_field(:name, value: company.name, class: "form-control") %></td>
        <td><%= form.text_field(:login, value: @admins[company.id].login, class: "form-control") %></td>	
	<td><%= form.text_field(:pwd, value: @admins[company.id].password, class: "form-control") %></td> 
	<td><%= company.created_at %></td>
	<td><%= company.updated_at %></td>
<td>
<%= hidden_field(:company, company.id) %>
 <%= form.submit("Обновить", class:"btn btn-info") %>
<% end %>
</td> 
      </tr>
<br />
<% end %>
    </tbody>
  </table>
</div>
</div>
</div>
</div>
<% if @success && @success == 1 %>
<div class = 'alert-success'>Операция прошла успешно</div>
<% end %>
<% if @success && @success == 0 %>
<div class = 'alert-danger'>Проблемы с обновлением данных, проверьте их корректность</div>
<% end %>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="exit">Выход</a></li>
    <li role="presentation"><a href="#">Информация</a></li>
</ul>
</body>
</html>

<style>
.parent {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
}

.block {
   
    div {
        display: block;
        border: none;
    }
}
</style>
